@rendermode InteractiveServer

@if (isLoggedIn)
{
    <a href="basket" class="ml-md-auto"> @basket </a>
    <a class="ml-md-auto" @onclick="GoLogoutPage">Logout</a>
}
else
{
    <a class="ml-md-auto" @onclick="GoLoginPage">Login</a>
}


@code {
    [Inject]
    NavigationManager navigationManager { get; set; }

    [Inject]
    IIdentityService identityService { get; set; }

    private bool isLoggedIn = false;
    private int basketItemCount = 0;
    private string basket = "";

    protected override async Task OnInitializedAsync()
    {
        isLoggedIn = await identityService.IsLoggedIn();
        if (isLoggedIn) {
            basket = $"{await identityService.GetUsername()} - Basket ({basketItemCount})";
        }
        await base.OnInitializedAsync();
    }

    private void GoLoginPage()
    {
        navigationManager.NavigateTo($"/login?returnUrl={Uri.EscapeDataString(navigationManager.Uri)}");
    }

    private void GoLogoutPage()
    {
        navigationManager.NavigateTo($"/logout?returnUrl={Uri.EscapeDataString(navigationManager.Uri)}", true);
    }

}
